
blockquote {

	color: rgb(20, 20, 20);

}
span {

	color: darkblue;

}

video {

	width: 98%;
	height: 600px;
	
	position: relative;

	bottom: 1%;
	left: 1%;
	right: 1%;

}

.falaPrimeiraPessoaDiv {

	max-width: 75%;

	margin-left: 12.5%;

	color: darkred;

}

