
input, select {

		font-size: 50px;
		
		padding-top: 10px;
		padding-bottom: 10px;

}

tr, td {

		display: flex;
 		align-items: center;
		justify-content: center;

}

input[name=nome],
	 input[name=dataNascimento], 
		input[name=nomeUsuario], 
		input[name=senha],
		input[name=email],
		input[name=numeroCelular],
		input[name=codigoResgate],
		input[name=enviarCodigo],
		select
 {

		width: 90%;
		
}

input[type=submit] {

		width: 90%;

}

table {

		width: 100%;

}

tr {

		width: 100%;
		
}

td {

		width: 50%;

}

tr td {

		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		padding-left: 10px;

}







	
	
	
	
	
	
	
	
	
	
	
	
	
	