
input, select {

	padding-top: 10px;
	padding-bottom: 10px;

}

tr, td {

	display: flex;
 	align-items: center;
	justify-content: center;

}

input[name=nome],
	input[name=dataNascimento], 
	input[name=nomeUsuario], 
	input[name=senha],
	input[name=email],
	input[name=numeroCelular],
	input[name=codigoResgate],
	input[name=enviarCodigo],
	select
 {

	width: 90%;
	
}

input[type=submit] {

	width: 90%;

}

table {

	width: 100%;

}

tr {

	width: 98vw;
		
}

td {

	width: 75vw;

}

tr td {

	padding-top: 1vw;
	padding-bottom: 1vw;
	padding-right: 1vw;
	padding-left: 1vw;

}

