
/* imagens */


.fotoImg {

		width: 200px;

}

.likeImg, .dislikeImg {

		width: 100px;

}

/* organizacao */

table {
	
		background-color: black;

		width: 100%;	
		height: 250px;
		
		position: fixed;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;	

}

tr td {

	/*	border-style: solid;
		
		border-collapse: collapse;
		
		border-color: black;*/
		
		text-align: center;

}

.fotoTd {

		width: 20%;

}


.textoTd {

		width: 80%;

}

.ultimasTds {
	
		width: 20%;
	
}

button {

		width: 25%;
		
		font-size: 25px;
		
		border-style: none;
		
		color: green;

}










