
/* imagens */

.fotoImg, 
.likeImg, .dislikeImg {

	width: 100%;

	max-width: 80px;

}

/* organizacao */

ul {
	
	background-color: black;

	width: 100%;	

	display: inline-flex;
	align-items: center;
	justify-content: center;

	list-style-type: none;

}

/* primeira ul */

.primeiraUl {

	

}

.fotoLi {

	width: 10%;

}

.textoLi {

	width: 88%;

	margin-top: 1%;

}


/* segunda ul */

.segundaUl > li {

	width: 19%;

}

button {

	width: 25%;

	font-size: 25px;

	border-style: none;

	color: green;

}

