
body {

	background-color: black;

}

/* imagens */

.fotoImg, 
.likeImg, .dislikeImg {

	width: 100%;

	max-width: 50px;
	max-height: 50px;

}

/* organizacao */

ul {

	width: 100%;	
	height: 50px;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	list-style-type: none;

}

/* primeira ul */

.primeiraUl {

	

}

.fotoLi {

	width: 10%;

	margin: 1%;

	display: contents;
	

}

.textoLi {

	width: 100%;

	margin-top: 1%;

}


/* segunda ul */

.responderLi {

	width: 45%;

}

.numeroLi {

	width: 5%;

	margin: 1em;

}

.dlikeLi {

	width: 13%;

	padding-top: 1%;

}

button {

	width: 100%;

	font-size: 1em;

	border-style: none;

	color: green;

}

