
/* geral */

main, header {

	width: 90%;

	margin-left: 10%;

}

article {

	margin-top: 1%;
	margin-bottom: 1%;

}

iframe {

	width: 100%;

	border-style: none;

}

/* navegacao */

nav {

	width: 10%;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;

	background-color: black;

	z-index: 5;

}

.opcoesContaUl {

	list-style-type: none;

}

.opcoesContaUl > li > label > img {

	width: 100%;

}

#descricaoCheckbox, 
	#amigosCheckbox, 
	#favoritosCheckbox,
	#publicacoesCheckbox,

#descricaoCheckbox + .descricaoArticle, 
	#amigosCheckbox + .listaHArticle, 
	#favoritosCheckbox + .favoritosArticle,
	#publicacoesCheckbox + .publicacoesArticle {

	opacity: 0;
	pointer-events: none;

	position: absolute;
	top: 50%;
	left: -9999px;

}

#descricaoCheckbox:checked + .descricaoArticle, 
	#amigosCheckbox:checked + .listaHArticle, 
	#favoritosCheckbox:checked + .favoritosArticle,
	#publicacoesCheckbox:checked + .publicacoesArticle {

	opacity: 100%;
	pointer-events: auto;

	position: static;

}
/* descricao */

.descricaoArticle {

	display: flex;
	align-items: center;

	width: 100%;

}

.editarImgsDiv {

	width: 20%;

	margin: 0 1% 0 1%;

	float: left;

}

.editarImgsDiv > img {

	width: 100%;

}

.descricaoDiv {

	width: 64%;

	margin: 0 1% 0 1%;

}

.configuracoesDiv {

	width: 10%;

	margin: 0 1% 0 1%;

	float: right;

}

.configuracoesDiv > a > img {

	width: 100%;

}

/* amigos */

.pesquisarImg {

	width: 10%;

	padding-top: 1%;

	position: absolute;
	left: 1%;		

	opacity: 50%;

}

input[name=pesquisar] {

	width: 100%;
	max-height: 50px;

	background-image: url('icons/pesquisar.png');
	background-size: 5%;
	background-repeat: no-repeat;
	background-position: 1% 10%;
	
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 10%;

	margin-top: 1%;
	margin-bottom: 1%;

}

.amigosUl {

	padding: 1%;

	list-style-type: none;

	text-align: center;

}

.amigosUl > li {

	padding-top: 1%;

	background-color: black;

	border-bottom: 1px solid gray;

}

.amigosUl > li > a {

	float: right;

}

.novaA {

	background-color: white;
	border-style: solid;

}

/* tabela iframe */

.tabelaIframe {

	width: 90%;
	height: 100%;

	position: absolute;

}

/* div popup */
.novaIframe, .cadastroIframe {

	width: 100%;
	height: 95%;

	position: absolute;
	top: 5%;
	bottom: 0;
	left: 0;
	right: 0;

}

.chatIframe {

	width: 70%;
	height: 95%;

	position: absolute;
	top: 5%;
	bottom: 0;
	left: 15%;
	right: 0;

}

.novaDiv, .conversaDiv, .cadastroDiv {

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	opacity: 0;
	pointer-events: none;

}

.novaDiv:target, .conversaDiv:target, .cadastroDiv:target {

	opacity: 1;
	pointer-events: auto;

	z-index: 5;

}


.novaDiv > div, .conversaDiv > div, .cadastroDiv > div {

	width: 100%;
	height: 100%;

	background-color: black;

	position: absolute;
	top: 0%;
	bottom: 0px;
	left: 0px;
	right: 0px;

	opacity: 0.5;

}

.fecharA {

	text-decoration:none;

	font-size: 3vw;
	color: red;

	position: relative;

	float: right;

}

