
/* imagens */

#opcoesDiv > ul > li > a img,
.conteudoImg, 
	.fotoImg, .curtirImg, 
	.descurtirImg, .configuracoesImg, 
	.comentariosImg {

	width: 100%;

}

/* Barra de cima */

nav {

	width: 100%;
	height: 10%;
		
	background-color: black;
	
}

ul.cimaUl li {

	list-style-type: none;
	
	display: inline;

}

.cimaUl {

	width: 100%;

	text-align: center;

}

.cimaUl > li {

	display: inline-block;

	width: 25%;

}

.cimaUl > li > div, 
	.cimaUl > li > label {

	display: inline-block;

	width: 10%;
	margin: 0;

}

/* lista de opcoes */

#opcoesDiv {

	width: 25%;

	background-color: black;

	border: 1px solid white;

	position: fixed;
	top: 1%;
	right: 1%;

	margin: 0;

}

#opcoesDiv > ul {

	list-style-type: none;

}

#opcoesDiv > ul li {

	display: inline-block;

}

#opcoesDiv > ul > li {

	font-size: 3vw;

	background-color: black;

	width: 45%;

	margin: 1%;

}

#configuracoesCheckbox {

	position: fixed;
	top: 50%;
	left: -9999px;
	opacity: 0;

}

#configuracoesCheckbox + #opcoesDiv {

	opacity: 0;
	pointer-events: none;

}

#configuracoesCheckbox:checked + #opcoesDiv {

	opacity: 100%;
	pointer-events: auto;

	z-index: 1;

}

/* conteudo */

main {

	width: 98%;

	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
	margin-right: 1%;

}

article {
	
	width: 100%;

}

.fotoImgDiv {

	position: relative;

}

.fotoImgDiv > h2 {

	background-color: rgb(0, 0, 0, 80%);

	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

}

.descricaoDiv {

	width: 90%;

	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 5%;
	margin-right: 5%;

	font-size: 2.8vw;

	color: rgb(20, 20, 20);

	background-color: white;

}

.fontesDiv {

	margin-top: 5%;
	margin-bottom: 5%;

	font-size: 2vw;

	color: rgb(0, 0, 0);

}

.fontesDiv > span {

	font-weight: bold;

}

.fontesDiv > a {

	background-color: rgb(150, 150, 150);
	color: rgb(255, 0, 0);

}

.comentariosDiv {

	width: 100%;
	height: 630px;

	position: relative;

}

.carregandoDiv {

	width: 25%;

	margin: 0;

	position: absolute;
	left: 50%;

	transform: translate(-50%, -50%);
	
	opacity: 0;
	pointer-events: none;

	animation: girandoComentariosAni 2s 2;

}

@keyframes girandoComentariosAni {

	0% {
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		
		opacity: 1;
	}

	50% {
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 1;
	}

}

.comentariosIframeDiv {

	width: 100%;
	height: 100%;

	animation: aparecendoComentariosAni 4s 1;

}

@keyframes aparecendoComentariosAni {

	0% {
		opacity: 0;
		
	}

	50% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
		
	}

}

.comentariosIframeDiv > iframe {

	width: 100%;
	height: 100%;

	border-width: 0;

}

/* Barra de baixo */

footer {

	width: 100%;
	height: 10%;

	background-color: black;

}

