
/* em cima */

nav {

	background-color: black;

	width: 100%;

}

.posicaoDiv {

	background-color: black;

	float: left;

}

.numerosDiv {

	background-color: black;

	text-align: center;

	float: right;
		
}

/* centro */

main {
	
	display: table; 
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 100%; 
	width: 100%; 
		
}
	
section { 
	
	display: table-cell; 
	vertical-align: middle;
		
} 

article {
	
	margin-left: auto; 
	margin-right: auto; 
	width: 100%;
		
}

.conteudoImg {

	width: 100%;

}


/* final */

footer {

	padding-top: 1%;
	padding-bottom: 1%;

	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0%;

	background-color: black;

}

footer > h3 {

	margin-bottom: 1%;

}

/* numeros */

.numeroComentariosH1 {

	color: white;
	
}

.numeroLikeH1 {

	color: green;
		
}


.numeroDislikeH1 {

	color: red;
		
}

