
section {

	width: 100%;
	display: inline;
	justify-content: center;

}

article > h3 {

	margin: 1%;

}

article {

	width: 98%;

	margin: 1%;

}

table {

	width: 100%;

	background-image: linear-gradient(rgb(255, 255, 0, 100%), rgb(255, 255, 0, 10%));

}

table, tr, td {

	border-collapse: collapse;

	text-align: center;

}


th {

	padding: 1%;

	background-color: rgb(138, 43, 226, 100%);

}

tr, td {

	padding-top: 4vh;
	padding-bottom: 4vh;

}

.tituloTh {

	background-color: rgb(138, 43, 226, 80%);

}

.primeiraTh {

	width: 10%;

}

.primeiraTh, td:first-child {

	border-right: 1px solid gray;

}

.segundaTh {

	width: 90%;

}

